.logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.logo img {
    width: 320px;
    padding: 20px;
}

#myTable th {
    background-color: #50CB93;
}

#myTable td {
    background-color: #EFF8FF;
}

tr {
    text-align: center;
}

